html, body, ul, li, h1, section, figure {
  font: inherit;
  text-decoration: none;
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.tower {
  float: left;
  margin-right: 20px;
  width: 150px;
}

.tower > li {
  width: 0px;
  margin: auto;
  margin-top: 10px;
  height: 40px;
  background-color: grey;
  display: block;
  border-radius: 20px;
}

.tower > .ring-width-one {
  width: 60px;
}

.tower > .ring-width-two {
  width: 100px;
}

.tower > .ring-width-three {
  width: 140px;
}

.tower:after {
  content: "";
  margin-top: 5px;
  display: block;
  height: 10px;
  background-color: purple;
  border-radius: 5px;
}

.tower:hover:after {
  background-color: green;
}

h1 {
  text-align: center;
  font-size: 64px;
}

#game {
  width: 510px;
  display: block;
  margin: auto;
}
